<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>SearchBaseContentServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.SearchBaseContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchBaseCompanyServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.SearchBaseCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateBaseCompanyServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.updateBaseCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteContentJsonServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.DeleteContentJsonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateContentServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.UpdateContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchContentByServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.SearchContentByServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBaseContentServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.AddBaseContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindContentServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.FindContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSelectContentServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.DeleteSelectContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrintToWordServlet1</servlet-name>
    <servlet-class>com.erp.basic.servlet.PrintToWordServlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrintToExcelServlet1</servlet-name>
    <servlet-class>com.erp.basic.servlet.PrintToExcelServlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BasepartsServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.BasepartsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delBasepartsServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.delBasepartsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetpartsCategoryServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.GetpartsCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getExecelServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.getExecelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchBasepartsjsonServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.SearchBasepartsjsonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getWordServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.getWordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>categoryListJsonServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.categoryListJsonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>categoryServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.categoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletecategoryServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.DeletecategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getCategoryTypeServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.getCategoryTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchCategoryByKeysServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.searchCategoryByKeysServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePcategoryServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.DeletePcategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportDataServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.ExportDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>printPartsServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.printPartsServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>unitServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.unitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>unitImplServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.unitImplServlet</servlet-class>
  </servlet>

  
  <servlet>
    <servlet-name>SearchUnitJsoServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.SearchUnitJsoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUnitServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.AddUnitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSelectUnitServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.DeleteSelectUnitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUnitServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.DeleteUnitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateUnitServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.updateUnitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrintToExcelServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.PrintToExcelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrintTowordServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.PrintTowordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addUnit</servlet-name>
    <servlet-class>com.erp.basic.servlet.addUnit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CrreateIDServlet</servlet-name>
    <servlet-class>com.erp.basic.servlet.CrreateIDServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchPurchaseInqueryServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.SearchPurchaseInqueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchPurchaseReturnServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.SearchPurchaseReturnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePurchaseReturnServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.DeletePurchaseReturnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPurchaseReturnServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.AddPurchaseReturnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchReturnByServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.SearchReturnByServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePurchaseReturnServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.UpdatePurchaseReturnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSelectPurchaseReturnServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.DeleteSelectPurchaseReturnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchReturnByConditionServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.SearchReturnByConditionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPurchaseInqueryServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.AddPurchaseInqueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchInqueryByServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.SearchInqueryByServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePurchaseInqueryServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.UpdatePurchaseInqueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePurchaseInqueryServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.DeletePurchaseInqueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSelectPurchaseInqueryServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.DeleteSelectPurchaseInqueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchInqueryByConditionServlet</servlet-name>
    <servlet-class>com.erp.purchase.servlet.SearchInqueryByConditionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>orderListJsonServlet</servlet-name>
    <servlet-class>com.erp.sale.servlet.orderListJsonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>orderAddUpdateServlet</servlet-name>
    <servlet-class>com.erp.sale.servlet.orderAddUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getOrderTransServlet</servlet-name>
    <servlet-class>com.erp.sale.servlet.getOrderTransServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteorderServlet</servlet-name>
    <servlet-class>com.erp.sale.servlet.DeleteorderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePorderServlet</servlet-name>
    <servlet-class>com.erp.sale.servlet.DeletePorderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getOrderDetailListServlet</servlet-name>
    <servlet-class>com.erp.sale.servlet.getOrderDetailListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportOrderDataServlet</servlet-name>
    <servlet-class>com.erp.sale.servlet.ExportOrderDataServlet</servlet-class>
  </servlet>






















  
  











  <servlet-mapping>
    <servlet-name>SearchBaseContentServlet</servlet-name>
    <url-pattern>/SearchBaseContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBaseCompanyServlet</servlet-name>
    <url-pattern>/SearchBaseCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateBaseCompanyServlet</servlet-name>
    <url-pattern>/updateBaseCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteContentJsonServlet</servlet-name>
    <url-pattern>/DeleteContentJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateContentServlet</servlet-name>
    <url-pattern>/UpdateContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchContentByServlet</servlet-name>
    <url-pattern>/SearchContentByServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBaseContentServlet</servlet-name>
    <url-pattern>/AddBaseContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindContentServlet</servlet-name>
    <url-pattern>/FindContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSelectContentServlet</servlet-name>
    <url-pattern>/DeleteSelectContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintToWordServlet1</servlet-name>
    <url-pattern>/PrintToWordServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintToExcelServlet1</servlet-name>
    <url-pattern>/PrintToExcelServlet1</url-pattern>
  </servlet-mapping>  <servlet-mapping>
    <servlet-name>BasepartsServlet</servlet-name>
    <url-pattern>/baseparts/BasepartsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delBasepartsServlet</servlet-name>
    <url-pattern>/baseparts/delBasepartsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetpartsCategoryServlet</servlet-name>
    <url-pattern>/baseparts/GetpartsCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getExecelServlet</servlet-name>
    <url-pattern>/baseparts/getExecelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBasepartsjsonServlet</servlet-name>
    <url-pattern>/baseparts/SearchBasepartsjsonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getWordServlet</servlet-name>
    <url-pattern>/baseparts/getWordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>categoryListJsonServlet</servlet-name>
    <url-pattern>/category/categoryListJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>categoryServlet</servlet-name>
    <url-pattern>/erp/categoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletecategoryServlet</servlet-name>
    <url-pattern>/category/DeletecategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCategoryTypeServlet</servlet-name>
    <url-pattern>/category/getCategoryTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchCategoryByKeysServlet</servlet-name>
    <url-pattern>/category/searchCategoryByKeysServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePcategoryServlet</servlet-name>
    <url-pattern>/category/DeletePcategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportDataServlet</servlet-name>
    <url-pattern>/category/ExportDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>printPartsServlet</servlet-name>
    <url-pattern>/category/printPartsServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>unitServlet</servlet-name>
    <url-pattern>/servlet/unitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>unitImplServlet</servlet-name>
    <url-pattern>/servlet/unitImplServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchUnitJsoServlet</servlet-name>
    <url-pattern>/unit/SearchUnitJsoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUnitServlet</servlet-name>
    <url-pattern>/unit/AddUnitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSelectUnitServlet</servlet-name>
    <url-pattern>/unit/DeleteSelectUnitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUnitServlet</servlet-name>
    <url-pattern>/unit/DeleteUnitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/unit/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateUnitServlet</servlet-name>
    <url-pattern>/unit/updateUnitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintToExcelServlet</servlet-name>
    <url-pattern>/unit/PrintToExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintTowordServlet</servlet-name>
    <url-pattern>/unit/PrintTowordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUnit</servlet-name>
    <url-pattern>/unit/addUnit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrreateIDServlet</servlet-name>
    <url-pattern>/common/CrreateIDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchPurchaseInqueryServlet</servlet-name>
    <url-pattern>/purchase/SearchPurchaseInqueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchPurchaseReturnServlet</servlet-name>
    <url-pattern>/purchase/SearchPurchaseReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePurchaseReturnServlet</servlet-name>
    <url-pattern>/purchase/DeletePurchaseReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPurchaseReturnServlet</servlet-name>
    <url-pattern>/purchase/AddPurchaseReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchReturnByServlet</servlet-name>
    <url-pattern>/purchase/SearchReturnByServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePurchaseReturnServlet</servlet-name>
    <url-pattern>/purchase/UpdatePurchaseReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSelectPurchaseReturnServlet</servlet-name>
    <url-pattern>/purchase/DeleteSelectPurchaseReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchReturnByConditionServlet</servlet-name>
    <url-pattern>/purchase/SearchReturnByConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPurchaseInqueryServlet</servlet-name>
    <url-pattern>/purchase/AddPurchaseInqueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchInqueryByServlet</servlet-name>
    <url-pattern>/purchase/SearchInqueryByServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePurchaseInqueryServlet</servlet-name>
    <url-pattern>/purchase/UpdatePurchaseInqueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePurchaseInqueryServlet</servlet-name>
    <url-pattern>/purchase/DeletePurchaseInqueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSelectPurchaseInqueryServlet</servlet-name>
    <url-pattern>/purchase/DeleteSelectPurchaseInqueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchInqueryByConditionServlet</servlet-name>
    <url-pattern>/purchase/SearchInqueryByConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>orderListJsonServlet</servlet-name>
    <url-pattern>/order/orderListJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>orderAddUpdateServlet</servlet-name>
    <url-pattern>/order/orderAddUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getOrderTransServlet</servlet-name>
    <url-pattern>/order/getOrderTransServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteorderServlet</servlet-name>
    <url-pattern>/order/DeleteorderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePorderServlet</servlet-name>
    <url-pattern>/order/DeletePorderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getOrderDetailListServlet</servlet-name>
    <url-pattern>/order/getOrderDetailListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportOrderDataServlet</servlet-name>
    <url-pattern>/order/ExportOrderDataServlet</url-pattern>
  </servlet-mapping>
  

</web-app>